<h1>Movies Index</h1>

<% @movies.each do |movie| %>

    <h3><%= link_to movie.title, movie_path(movie.id) %></h3>
    <p><%= movie.genre%> - <%= movie.year%></p>
    <p><%= movie.length%> minutes</p>
    <p><%=movie.count_reviews%> reviews</p>
    <p><%=movie.actors.count%> actors</p>
    <p><%=movie.avg_stars%>⭐️</p>

<% end %>
